/****************
	Responsive
*****************/

@media (min-width: 1600px) {
	 .m_banner {height: 832px; background: url(../images/banner_big.jpg) top center no-repeat;}
	 .m_banner .desc {padding-top: 132px;}
}

@media (max-width: 1200px) {
	 .fw {width: 688px;}
	 
	 /*header*/
	 .header .head_rt .contacts .tel {margin: 10px 0 0 0;}
	 .header .head_rt .contacts .time {display: none;}
	 
	 /*main banner*/
	 .m_banner {background: url(../images/banner_big.jpg) top center no-repeat; height: 740px; background-size: auto 100%; background-position: 10% 0%;}
	 .m_banner .desc {padding-top: 133px;}
	 
	 /*about*/
	 .m_about {padding: 175px 0 110px 0;}
	 .m_about .m_title {margin-bottom: 35px;}
	 .m_about .image {float: none; margin: 0 auto 160px auto;}
	 .m_about .desc {float: none; margin: 0; width: auto; padding: 0 50px;}
	 
	 /*services*/
	 .m_service  {padding-bottom: 40px;}
	 .m_service .m_title {margin-bottom: 50px;}
	 .service_items .service_item  {margin-bottom: 70px;}
	 .service_items .service_item .img {position: relative; top: auto!important; left: auto!important; right: auto!important; width: auto; text-align: center; margin-bottom: 50px;}
	 .service_items .service_item .desc {padding: 0 85px!important; margin: 0!important; float: none!important; width: auto!important;}
	 .service_items .service_item .num {top: 275px; right: 85px;}
	 .service_items .service_item:nth-child(2) .num {top: 275px; left: 85px; right: auto;}
	 .service_items .service_item:nth-child(3) .num {top: 275px; right: 85px; left: auto;}
	 
	 /*infra*/
	 .infra_menu .item {margin: 0 24px;}
	 .infra_menu .item:first-child {margin-left: 0px;}
	 .infra_menu .item:last-child {margin-right: 0px;}
	 .infra_tabs {height: 650px;}
	 .infra_tabs .infra_tab .map {float: none; width: 100%; height: 373px;}
	 .infra_tabs .infra_tab .info {float: none; width: auto; padding: 0 50px;}
	 .infra_tabs .infra_tab .info::before {top: 60px; right: 45%;}
	 .infra_tabs .infra_tab .info .desc {float: left; width: 45%;}
	 .infra_tabs .infra_tab .info .chars {float: right; width: 45%; margin-top: 100px;}
	 .infra_tabs .infra_tab .info .chars::before {display: none;}
	 
	 /*flats*/
	 .m_flat {margin-bottom: 100px;}
	 .m_flat .areas {height: 495px;}
	 .m_flat .area_sections {transform: scale(0.7); -webkit-transform: scale(0.7); top: -107px;}
	 
	 /*archive*/
	 .m_archive {}
	 .m_archive .album {width: 541px; height: 750px; padding: 0; margin: 0 auto 32px auto;}
	 .m_archive .album_tab {left: 0px; width: 100%;}
	 .m_archive .preview {float: none; margin-bottom: 12px;}
	 .m_archive .gallery {float: none; width: 100%;}
	 .m_archive .gallery a {margin-right: 14px;}
	 .m_archive .filter .month a:last-child {display: none;}
	 .m_archive .filter {padding: 0;}
	 .m_archive .filter .month a {width: 86px;}
	 .m_archive .filter .scrollbar span {width: 44px;}
	 
	 /*contacts*/
	 .m_contacts .cont_items .cont_item {width: 100%; text-align: center; margin-bottom: 45px;}
	 .m_contacts .cont_items .cont_item .icon {float: none; display: inline-block; vertical-align: top; text-align: left;}
	 .m_contacts .cont_items .cont_item .desc {float: none; display: inline-block; margin-left: 30px; width: 240px; text-align: left;}
	 .m_contacts .cont_items {margin-bottom: 0px;}
	 .m_contacts .cont_map {float: none; margin: 0 auto 45px auto;}
	 .m_contacts .cont_form {float: none; margin: 0 auto;}
	 
	 /*footer*/
	 footer .foot_rt .contacts .time {display: none;}
	 footer .foot_rt .contacts .tel {margin: 10px 0 0 0;}
}

@media (max-width: 720px) {
	 .fw {width: 280px;}
	 .bts a.btn {height: 42px; padding: 0 32px; font-size: 9px; font-weight: 400; line-height: 42px;}
	 .mob_show {display: block!important;}
	 body {background: #fff;}
	 
	 /*header*/
	 .header {height: 55px; padding: 0;}
	 .header .loc {padding-left: 20px; font-size: 12px; line-height: 55px; height: auto;}
	 .header .head_rt a.zvonok_btn {display: none;}
	 .header .head_rt .contacts {margin: 0;}
	 .header .head_rt .contacts .tel {margin: -2px 0 0 0; font-size: 12px; line-height: 55px; height: auto;}
	 .header .head_rt .contacts .tel strong {font-size: 14px;}
	 .header .head_rt .contacts .tel strong span {display: none;}
	 
	 /*main banner*/
	 .m_banner {margin-top: 55px; background: url(../images/banner_middle.png) top center no-repeat; height: 462px; background-size: auto 100%; background-position: 42% 0%;}
	 .m_banner .desc {padding: 35px 0 0 0; text-align: center;}
	 .m_banner .desc .logo {margin: 0;}
	 .m_banner .desc .logo img {max-width: 100%;}
	 .m_banner .desc .title {font-size: 24px;}
	 .m_banner .desc p {margin: 20px 0; font-size: 12px;}
	 .m_banner .desc .bts {text-align: center;}
	 .m_banner .count {right: 50%; width: 160px; height: 160px; margin-right: -80px; background-size: 100% 100%; padding: 64px 0 0 0; font-size: 12px;}
	 .m_banner .count strong {font-size: 30px; margin-top: 5px;}
	 
	 /*wrapper*/
	 .wrapper {overflow: hidden;}
	 .m_title {font-size: 23px;}
	 .m_title span {font-size: 12px;}
	 .m_title:before {width: 110px; height: 21px; background-size: 100% 100%; margin-left: -55px;}
	 
	 /*about*/
	 .m_about {padding-bottom: 70px;}
	 .m_about .image {width: 237px; margin-left: 40px; margin-right: 0px; margin-bottom: 120px;}
	 .m_about .image:before {width: 29px; height: 176px; margin-left: -40px; margin-top: -73px; background-size: 100% 100%;}
	 .m_about .image img {max-width: 100%;}
	 .m_about .image .ab_count {width: 160px; height: 160px; margin-left: -80px; bottom: -80px; background-size: 100% 100%; font-size: 12px; padding-top: 43px;}
	 .m_about .image .ab_count strong {font-size: 30px; font-weight: 700; display: block; padding: 6px 0;}
	 .m_about .image .ab_count .time {font-size: 12px; line-height: 19px;}
	 .m_about .desc {padding: 0;}
	 .m_about .desc h4 {font-size: 22px; margin-bottom: 35px;}
	 .m_about .desc .chars_items .chars_item {width: 50%;}
	 .m_about .desc .chars_items .chars_item p {font-size: 14px;}
	 .m_about .desc .chars_items .chars_item p strong {font-size: 14px; margin: 0;}
	 
	 /*services*/
	 .service_items .service_item {margin-bottom: 40px;}
	 .service_items .service_item .num {font-size: 160px;}
	 .service_items .service_item .img {margin-bottom: 20px;}
	 .service_items .service_item .img svg {max-width: 100%;}
	 .service_items .service_item .desc {padding: 0!important;}
	 .service_items .service_item .desc h4 {font-size: 22px; margin: 0 0 8px 0;}
	 .service_items .service_item .desc p {font-size: 12px; line-height: 20px;}
	 .service_items .service_item .desc p br {display: none;}
	 .service_items .service_item .num {top: 240px; right: 0px;}
	 .service_items .service_item:nth-child(2) .img {margin-bottom: 50px;}
	 .service_items .service_item:nth-child(2) .num {left: 0px; right: auto; top: 260px;}
	 .service_items .service_item:nth-child(3) .num {top: 290px; left: auto; right: 0px;}
	 
	 /*infra*/
	 .m_infra {margin-bottom: 70px;}
	 .m_desc {font-size: 12px; line-height: 20px;}
	 .infra_menu {margin-bottom: 20px;}
	 .infra_menu .item {width: 70px; margin: 0 15px;}
	 .infra_menu .item .icon {height: 70px; margin-bottom: 10px;}
	 .infra_menu .item::before {top: 7px; left: 7px; width: 56px; height: 56px;}
	 .infra_menu .item .icon::after, .infra_menu .item .icon::before {transform: scale(0.7);}
	 .infra_menu .item {margin: 0 11px 24px 11px!important;}
	 .infra_menu .item .label {font-size: 12px; line-height: 18px;}
	 .infra_tabs {height: 600px;}
	 .infra_tabs .infra_tab .map {}
	 .infra_tabs .infra_tab .info {padding: 0;}
	 .infra_tabs .infra_tab .info .name {font-size: 22px;}
	 .infra_tabs .infra_tab .info .distance {font-size: 12px;}
	 .infra_tabs .infra_tab .info::before {width: 19px; height: 101px; background-size: 100% 100%;}
	 .infra_tabs .infra_tab .info .icon {height: 120px; margin: 0;}
	 .infra_tabs .infra_tab .info .icon::before {transform: scale(0.7);}
	 .infra_tabs .infra_tab .info .chars {margin-top: 68px; font-size: 12px;}
	 
	 /*flats*/
	 .m_flat{margin-bottom: 80px;}
	 .m_flat .area_menu {display: none;}
	 .m_flat .areas {overflow: hidden;}
	 .m_flat .area_sections {transform: scale(0.85); -webkit-transform: scale(0.85); top: 0px; height: 535px;}
	 .m_flat .area_sections .area_map {right: -90px; top: -45px; left: auto; margin: 0;}
	 .m_flat .area_sections .area_map[data-mob-section-id="13"] {}
	 .m_flat .area_sections .area_map[data-mob-section-id="14"] {}
	 .m_flat .area_sections .area_map[data-mob-section-id="15"] {}
	 .m_flat .area_sections .b-area-nav {visibility: hidden;}
	 
	 /*album*/
	 .m_archive {margin-bottom: 60px;}
	 .m_archive .m_title {margin-bottom: 35px;}
	 .m_archive .album {width: auto; height: 400px;}
	 .m_archive .preview {width: 100%; height: auto; margin-bottom: 8px;}
	 .m_archive .gallery a {margin: 0 8px 8px 0; width: 88px; height: 73px;}
	 .m_archive .htitle {font-size: 22px;}
	 .m_archive .htitle span {font-size: 12px; margin-top: 8px;}
	 .m_archive .filter .scrollbar {display: none;}
	 .m_archive .filter .month a {margin-bottom: 22px;}
	 .m_archive .filter .month a:last-child {display: inline-block;}
	 
	 /*news*/
	 .m_news .pag .pagination {display: none;}
	 .m_news .pag {margin: 20px 0;}
	 .m_news .news_carousel .news_item .date {font-size: 12px;}
	 .m_news .news_carousel .news_item .name {font-size: 18px; line-height: 30px;}
	 .m_news .news_carousel .news_item p {font-size: 12px; line-height: 22px;}
	 
	 /*contacts*/
	 .m_contacts .cont_form {width: auto; padding: 17px;}
	 .m_contacts .cont_form .f_title {font-size: 22px; text-align: center; margin-bottom: 20px;}
	 .c_form .value label {font-size: 9px; margin-bottom: 12px;}
	 .c_form .value input {height: 52px;}
	 .c_form .value {margin-bottom: 25px;}
	 .m_contacts .cont_map {width: auto; height: 415px; margin-bottom: 40px;}
	 .m_contacts .cont_items .cont_item {margin-bottom: 34px;}
	 .m_contacts .cont_items .cont_item .icon {width: 64px; height: 64px;}
	 .m_contacts .cont_items .cont_item .icon:before {width: 48px; height: 48px; margin: -24px 0 0 -24px;}
	 .m_contacts .cont_items .cont_item .icon:after {background-size: 50% 50%!important;}
	 .m_contacts .cont_items .cont_item .desc {width: 196px; margin-left: 16px; padding-top: 5px;}
	 .m_contacts .cont_items .cont_item .desc p {font-size: 12px;}
	 .m_contacts .cont_items .cont_item .desc p strong {font-size: 22px; margin-bottom: 5px;}
	 
	 
	 /*footer*/
	 footer .loc {font-size: 12px; padding-left: 20px;}
	 footer .foot_rt a.zvonok_btn {display: none;}
	 footer .foot_rt .contacts {margin: 0; line-height: 34px;}
	 footer .foot_rt .contacts .tel {margin: 0; font-size: 12px;}
	 footer .foot_rt .contacts .tel strong {font-size: 14px;}
	 footer .foot_rt .contacts .tel strong span {display: none;}
}